<div class="absolute @(IsVisible ? "visible" : "")">
	<div class="wrongFile">
		<div class="message">Цей тип файлу не підтримується :(</div>
		<button class="ok" @onclick="() => IsVisible = false">Ок</button>
	</div>
</div>

@code {
	[Parameter]
	public bool IsVisible { get; set; } = false;
}
