@page "/"
@using XmlAnalyzer.Data;
@inject Analyzer Analyzer
@inject NavigationManager NavigationManager

<div class="container">
	<DragFileInput FileLoaded="OnFileLoaded" />
</div>

@code {
	private void OnFileLoaded(Tuple<string, byte[]> fileData)
	{
		Analyzer.SetFile(fileData.Item1, fileData.Item2);
		NavigationManager.NavigateTo("/analyze");
	}
}
